.bg-next {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -10px -10px;
}

.bg-node {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -105px -10px;
}

.bg-postman {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -10px -105px;
}

.bg-react-query {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -105px -105px;
}

.bg-react {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -200px -10px;
}

.bg-recoil {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -200px -105px;
}

.bg-redux-toolkit {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -10px -200px;
}

.bg-storybook {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -105px -200px;
}

.bg-styled-component {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -200px -200px;
}

.bg-typeScript {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -295px -10px;
}

.bg-webpack {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -295px -105px;
}

.bg-aws {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -295px -200px;
}

.bg-express {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -10px -295px;
}

.bg-figma {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -105px -295px;
}

.bg-firebase {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -200px -295px;
}

.bg-graphql {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -295px -295px;
}

.bg-mui {
  width: 75px;
  height: 75px;
  background: url("/skills_sprites.png") -390px -10px;
}